
@{
    ViewData["Title"] = "Index";
}

    <form action="Add" method="post">

        <label>FirstName</label><input type="text" name="FirstName"/><br />
        <label>LastName</label><input type="text" name="LastName" /><br />
        <input type="submit" />

    </form>

