
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1>@ViewBag.Name</h1>


@ViewBag.Email


<br />

<hr />
<h1 align="center">Add Student</h1>
<br />
<form  method="get" action="addStudent">
    <label>Name</label><input type="text"  name="n1" /><br />
    <label>Address</label><textarea name="address"></textarea><br />
    <input type="submit" />

</form>

